*{
   text-align: center;
   margin: 0 auto;
}
.items {
  border: 1px solid black;
  border-radius: 10%;
  box-shadow: 5px 10px;
  margin:10px;
  padding:10px;
  width: auto;
  height: auto;
  /* float: left; */
}


.availableStockTemplate{
   text-align: center;
}

.stock{
   height: auto;
   overflow: scroll;
   scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}
