
.container{
    width: 95%;
    margin: 0 auto;
}
.header{
    text-align: center;
    width: 100%;
    height: 1%;
    padding: 10px 0px;
    margin: 0 auto;
}
.search-area{
    
    border: 1px solid black;
    text-align: center;
}
select.brand, select.color, select.size{
    margin: 0 auto;
    width: 250px;
}

.add-area{
    margin: 
 auto;    display: inline-block;
    text-align: center;
    border: 1px solid black;
}

.buttons{
    border: 1px solid black;
}

/* .shopping-cart{

}

.search-results{

}

.available-stock{

} */

.footer{
    text-align: center;
    width: 100%;
    height: 1%;
    padding: 10px 0px;
    margin: 0 auto;
    border: 1px solid black;
}
